@media (min-width: 1200px) {
  .promo-box {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
}

.promo-box__title {
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}
}
