@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients__list {
    flex-wrap: nowrap;
    gap: $flex-list-gap;
  }

  .clients-list__link {
    width: 170px;
  }
}
