@media (min-width: 320px) {
  .logo--light {
    display: flex;
    justify-content: center;
  }
}


@media (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }

  .logo__accent {
    padding: 0;
  }

  .logo--margin {
    margin-right: 0;
  }
}