@media (min-width: 320px) {
  .modal-form__label-check {
    justify-content: flex-start;
    font-size: 7px;
    line-height: 1.16;
  }
}

@media (min-width: 480px) {
  .modal-form__label-check {
    font-size: 12px;
  }
}
