@media (min-width: 320px) {
  .clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .clients__list {
    flex-wrap: wrap;
    gap: $footer-soc-gap;
  }

  .clients-list__link {
    width: 130px;
  }
}

@media (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .clients-list__link {
    width: 210px;
  }
}
