.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  @include flexJustify();
}

.clients-list__link {
  @include flexCenter();
  width: 170px;
  height: 92px;
  fill: currentColor;
  color: $social-standart-color;
  border: 1px solid $social-standart-color;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: color $trasition-cubic-bazier,
    border-color $trasition-cubic-bazier;

  &:hover,
  &:focus .clients-list__icon {
    color: $activ-logo-color;
    border-color: $activ-logo-color;
  }
}

.clients-list__icon {
  fill: currentColor;
}

@media (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .clients__list {
    flex-wrap: wrap;
    gap: $flex-list-gap;
  }

  .clients-list__link {
    width: 210px;
  }
}

@media (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients__list {
    flex-wrap: nowrap;
    gap: $flex-list-gap;
  }

  .clients-list__link {
    width: 170px;
  }
}
