.footer-social__title {
  font-weight: $font-weight-bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-main-light;
}

.footer-social__list {
  display: flex;
  margin-top: 20px;
  gap: $footer-soc-gap;
}

.footer-social__link {
  @include flexCenter();
  width: 44px;
  height: 44px;
  border-radius: $border-radius;
  background-color: $footer-social-color;
  transition: background-color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    background-color: $activ-logo-color;
  }
}

.footer-social__icon {
  display: flex;
  fill: $color-main-light;
}

