.footer-subscription-wrapper {
  margin-left: auto;
}

.footer__subscription {
  font-weight: $font-weight-bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-main-light;
}

.footer-form {
  margin-top: 20px;
  display: flex;
}

.footer-form__email {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $border-radius-button;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;

  &:focus {
    border-color: $activ-logo-color;
    outline: $activ-logo-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.25;
  }
}

