.contact-list {
  display: flex;
  margin-left: auto;
  gap: $flex-list-gap;
}

.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__link {
  @include flexCenter();
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $description-color;
  padding-top: 25px;
  padding-bottom: 25px;
  fill: currentColor;
  transition: color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    color: $activ-logo-color;
  }
}

.contact-list__icon {
  display: inline-flex;
  margin-right: 10px;
}

