.contact-list {
  display: flex;
  margin-left: auto;
  gap: $flex-list-gap;
}

.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__link {
  @include flexCenter();
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $description-color;
  padding-top: 25px;
  padding-bottom: 25px;
  fill: currentColor;
  transition: color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    color: $activ-logo-color;
  }
}

.contact-list__icon {
  display: inline-flex;
  margin-right: 10px;
}

@media (min-width: 480px) {
  .contact-list {
    transform: translateY(-100%);
  }

  .contact-list__link {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .contact-list {
    transform: translateY(0);
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }

  .contact-list__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media (min-width: 1200px) {
  .contact-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0;
    gap: $flex-list-gap;
  }
}
