.logo {
  @include logoProperties();
  color: $second-logo-color;
  display: inline-block;
}

.logo__accent {
  color: $activ-logo-color;
}

.logo--padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo--margin {
  margin-right: 93px;
}

.logo--light {
  color: $color-main-light;
}

.logo--margin-bottom {
  margin-bottom: 20px;
}

