@media (min-width: 480px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    min-height: 100vh;
    background-color: $color-main-light;
    padding: 48px 40px;
    flex-direction: column;
    transition: transform $transition-for-modal;
    transform: translateY(-100%);
  }

  .mobile-menu.is-open {
    transform: translateY(0);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    height: 200px;
    row-gap: 33px;
    margin-bottom: auto;
  }

  .mobile-nav-list_link {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $second-font-color;

    &:hover,
    &:focus {
      color: $activ-logo-color;
    }
  }

  .mobile-contact-list_item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contact-list_link--phone {
    display: inline-block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $activ-logo-color;
  }

  .mobile-contact-list {
    margin-bottom: 64px;
  }

  .mobile-contact-list_link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $description-color;
  }

  .mobile-social-list {
    display: flex;
    column-gap: 10px;
  }

  .mobile-social-list_link {
    color: $activ-logo-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }

  .mobile-social-list--decor {
    margin-left: 10px;
    color: rgba(33, 33, 33, 0.2);
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
