/* color main */
$color-main-light: #ffffff;
/* secondory font color*/
$second-font-color: #212121;
/* second logo color */
$second-logo-color: #000000;
/* color backraund promo and footer */
$fon-color: #2f303a;
/* comands and filter-color */
$comands-filter-color: #f5f4fa;
/* description and contact color */
$description-color: #757575;
/* active color,button promo and logo color */
$activ-logo-color: #2196f3;
/* hover button */
$btn-hover-color: #188ce8;
/* border color */
$border-color: #ececec;
/* social standart color */
$social-standart-color: #afb1b8;
/* footer-soc-color */
$footer-social-color: #44454e;
/* border radius button */
$border-radius-button: 4px;
/* gap flex list */
$flex-list-gap: 30px;
/* filter list gap */
$flex-filter-gap: 8px;
/* navigation and contact header gap */
$nav-cont-gap: 50px;
/* footer social gap */
$footer-soc-gap: 10px;
/* animation */
$trasition-cubic-bazier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// transition for transform
$transition-for-modal:1000ms cubic-bezier(0.4, 0, 0.2, 1);
/* border radius button */
$border-radius: 50%;
/* height input form */
$height-input: 40px;
/* font weight 700 */
$font-weight-bold: 700;
// box shadows buttons
$shadows-buttons: 0px 4px 4px rgba(0, 0, 0, 0.15);
// global serif
$global-serif:"Roboto", sans-serif;
